

body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: 100% 100%;
    background-color: #0000004b;
    font-weight: 900;
}

/* proshow */




.protxt{
    padding: 30px;
    
}

.protxt h1{
    font-size: 80px;
    color: white;
    font-weight: 700;

}


.promain{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    padding: 60px;
    column-gap: 60px;
   

}
.promain1{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    padding: 60px;
    column-gap: 60px;
   

}

.probox1 {
    width: 49%;
    backdrop-filter: blur(15px);
    background-color: rgba(247, 247, 247, 0.1);
    padding: 50px;
    border-radius: 20px;
    color: white;
}

.day1img{
    text-align: center;
    border-radius: 30px;
    width: 500px;
    margin-top: 20px;
}

.probox1 h1{
    font-size: 34px;
}

.probox1 h5{
    margin-top: 30px;
    padding-right: 20px;
    font-weight: 200;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0);
}

.probox2{
    width: 49%;
    backdrop-filter: blur(15px);
    background-color: rgba(247, 247, 247, 0.1);
    padding: 50px;
    border-radius: 20px;
    color: white;
}

.probox2 h5{
    margin-top: 30px;
    padding-right: 20px;
    font-weight: 200;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0);
}

.probox2 h1{
    font-size: 34px;
}

.probox3 {
    width: 49%;
    backdrop-filter: blur(15px);
    background-color: rgba(247, 247, 247, 0.1);
    padding: 50px;
    border-radius: 20px;
    color: white;
}

.probox3 h1{
    font-size: 34px;
}

.probox3 h5{
    margin-top: 30px;
    padding-right: 20px;
    font-weight: 200;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0);
}

.probox4 {
    width: 49%;
    backdrop-filter: blur(15px);
    background-color: rgba(247, 247, 247, 0.1);
    padding: 50px;
    border-radius: 20px;
    color: white;
}

.probox4 h1{
    font-size: 34px;
}

.probox4 h5{
    margin-top: 30px;
    padding-right: 20px;
    font-weight: 200;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0);
}

.proshow-button{
    height: 45px;
    margin: 35px 0;
    text-align: right;
  }
.proshow-button input{
    height: 100%;
    width: 30%;
    border-radius: 20px;
    justify-content: right;
    border: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #D9EE5F;
    
  }
.proshow-button input:hover{
   /* transform: scale(0.99); */
   background-color: #000000;
   color: #D9EE5F;
   border: 1px solid #D9EE5F;
   }
 
.btn1{
    background-color: #00000000;
    font-size:100px;
}

.promob{
    display: none;
}

.marquee{

    background-color: #D9EE5F;
    color: black;
    align-content: center;
    padding: 20px 0px 0px 0px;
    font-size: 30px;
    font-weight: 900;
    overflow: hidden;
    white-space: nowrap;
}

.marquee p a{

    font-size: 35px;
    font-weight: 900;
    color: black;
    text-decoration: none;
}

@keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }

  .marquee2{

    background-color: #D9EE5F;
    color: black;
    align-content: center;
    padding: 20px 0px 0px 0px;
    font-size: 30px;
    font-weight: 900;
    overflow: hidden;
    white-space: nowrap;
}

.marquee2 p a{

    font-size: 35px;
    font-weight: 900;
    color: black;
    text-decoration: none;
}

@keyframes marquee2 {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }  


  .aboutus h1{
    font-size: 60px;
    font-weight: 800;
    color: white;
    text-align: center;
}

.aboutus {
    font-size: 20px; 
    padding: 70px;
   text-align: center;
   color: #ffffff;
    

}

.aboutpara {
    padding: 10px;
    margin-top: 30px;
    font-weight: 200;
    text-align: justify;
}

.address{
    margin-top: -40px;
}

.address h4{
    
    text-align: justify;
    font-weight: 200;
    font-size: 25px; 
    text-align: center;
    color: #ffffff;
} 

.iccslogo1{

    text-align: center;
    width: 200px;
    height: auto;
    justify-content: justify;
    margin-left: 540px;
    margin-top: 20px;
}

/* proshow ends */



/* mobile-view */

@media only screen and (max-width: 700px) {


    body{
        height: auto;
    }


    .promain{

        display: flex;
        width: 100%;
        flex-direction: column;
        position: relative;
        justify-content: space-around;
        margin-top: 40px;
   
    }

    .protxt h1{
        font-size: 30px;
    }

    .promain h1{
        font-size: 30px;
    }

    .promain1{

        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        margin-top: -60px;
        
   
    }

    .promain1 h1{
        font-size: 30px;
    }


    .probox{
        width: auto;
        height: 300px;
        padding: 15px;
    }

    .probox img {
        width: 100%;
        
    }

    .probox1 {
        width: auto;
        height: 300px;
        padding: 15px;
        
        
    }


    .probox1 img {
        width: 100%;
        
    }

    .proshow-button{
        width: 500px;
        margin-left: -180px;
        margin-top: 130px;
        /* display: none; */

    }

    .proshow-button input{
        width: 30%;
        margin-right: 27%;
    }

    .probox2 {
        width: auto;
        height: 300px;
        padding: 15px;
        margin-top: 20px;
        
        
    }


    .probox2 img {
        width: 100%;
        
    }

    .probox3 {
        width: auto;
        height: 300px;
        padding: 15px;
        margin-top: -10px;
    }


    .probox3 img {
        width: 100%;
        
    }

    .probox4 {
        width: auto;
        height: 300px;
        padding: 15px;
        margin-top: 20px;
    }


    .probox4 img {
        width: 100%;
        
    }

    .marquee2{
        margin-top: 20px;
    }

/* footer */
    .aboutus{
        padding: 40px;
    }

    .iccslogo1{
        margin-top: 20px;
        padding-bottom: 20px;
        margin-left: 120px;
    }
/* footer ends */

    .day1img{
       display: none;
    }

    

    .nav{
        padding: 0;
    }
    

}