@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

html, body{
    overflow-x: hidden;
}

body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 200%;
    background-color: #0000004b;
    font-weight: 900;
    color: aliceblue;
    font-family: "Syne",sans-serif;
    position: relative;
}


a{
    text-decoration: none;
    color: white;
}

.nav{
    backdrop-filter: blur(15px);
    background-color: rgba(247, 247, 247, 0.1);
    padding: 5px 50px 5px 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* .navbar{
    
    height: auto;
    padding: 20px 50px 20px 50px;
    
} */

.logo{
    width: 49%;
    
}

.homebtn {
    background-color: rgba(30, 143, 255, 0);
    border: none;
    color: white;
    padding: 12px 16px;
    cursor: pointer;
  }
  
.homebtn i{
    font-size: 35px;
}

  /* Darker background on mouse-over */
  .homebtn:hover {
    
    color: black;
    
  }

.brand{
    width: 49%;
    justify-content: right;
    align-items: center;
    text-align: right;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.brand h1{
    font-size: 1.8rem;
    font-weight: 800;
    
}

.brand img{
    width: 100px;
}

.marquee{

    background-color: #D9EE5F;
    color: black;
    align-content: center;
    padding: 15px 0px 0px 0px;
    font-size: 30px;
    font-weight: 900;
    overflow: hidden;
    white-space: nowrap;
}

.marquee p a{

    font-size: 35px;
    font-weight: 900;
    color: black;
    text-decoration: none;
    
}

@keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }

.container{
    padding: 40px;
}

.row{
    
    padding: 20px;
}

.gut1{
    height: 300px;
    background-color: #d8ee5f;
    padding: 20px;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    padding: 40px;
    column-gap: 60px;
    align-items: center;
   

}

.box1{
    width: 49%;
    height: 700px;
    backdrop-filter: blur(15px);
    background-color: rgba(247, 247, 247, 0.1);
    padding: 50px;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    gap: 20px;
}

.box1 h5{
    margin-top: 30px;
    padding-right: 20px;
    font-weight: 200;
    line-height: 1.4;
}

.box2{
    width: 49%;
    height: 700px;
    backdrop-filter: blur(15px);
    background-color: rgba(247, 247, 247, 0.1);
    padding: 50px;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    gap: 20px;
    
}

.box2 h5{
    

    
    padding-right: 20px;
    font-weight: 200;
    line-height: 1.4;
}

.box2 li{
    
    padding-right: 20px;
    font-weight: 200;
    line-height: 1.2;
    font-size: 1.2rem;
    
}
.box1 li{
    margin-top: 30px;
    padding-right: 20px;
    font-weight: 200;
    line-height: 1.2;
    font-size: 1.2rem;
    
}

.box2 ul{
    line-height: 1;
}

/* workshop */

.workshop-time p{
    font-weight: 300;
    line-height: 1;
    font-size: 1.2rem;

}

/* workshop  */

  
.button{
    height: 50px;
    margin: 35px 0
  }
.button input{
    height: 100%;
    width: 30%;
    border-radius: 25px;
    justify-content: center;
    border: none;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #D9EE5F;
    
  }
.button input:hover{
   /* transform: scale(0.99); */
   background-color: #000000;
   color: #D9EE5F;
   border: 1px solid #D9EE5F;
   }
 
.tech{
    text-align: right;
    padding: 20px;
    margin-right: 50px;
    
}

.tech h1{
    font-weight: 900;
}

.top {
    --offset: 50px; 
    
    position: sticky;
    bottom: 20px;      
    margin-right:50px; 
    margin-top: -30px;
    align-content: right;
    margin-left: 30px;
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    
    /* visual styling */
    text-decoration: none;
    padding: 15px;
    font-family: sans-serif;
    color: #000000;
    background: #D9EE5F;
    border-radius: 100px;
    white-space: nowrap;
  }
  
  p {
    font-size: 25px;
  }
  
  /* remove the below if you don't want smooth scrolling */
  html,
  body {
    scroll-behavior: smooth;
  }

/* COMPETITIONS */

.chead{
    padding: 40px 50px 40px 50px;
    border-bottom: 1px solid white;
}

.chead h1{
    font-size: 40px;
    text-align: right;
    font-weight: 800;
}

.chead1{
    padding: 20px 50px 0px 50px;
}

.chead1 h1{
    font-size: 60px;
    text-align: left;
    font-weight: 800;
    line-height: 1.3;
}

.glam{
    text-align: center;
    border-radius: 30px;
    width: 500px;
    margin-top: 20px;
}




/* end competitions */


/* games */

.ghead{
    padding: 20px 50px 0px 50px;
}

.ghead h1{
    font-size: 60px;
    text-align: left;
}

.ghead1{
    padding: 20px 50px 0px 50px;
}

.ghead1 h1{
    font-size: 80px;
    text-align: right;
    line-height: 1;
}


/* end games */

/* events */


.emain{
    
    width: 100%;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
    /* background-color: aliceblue; */
}

.ebox{
    
    height: 650px;
    backdrop-filter: blur(15px);
    background-color: rgba(247, 247, 247, 0.1);
    border-radius: 20px;
    margin-top: 30px;
    align-content: center;
    justify-content: center;
}

/* end events */


 /* top to bottom */

 #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #D9EE5F;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #000000;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgb(0, 0, 0);
    border: 3px solid #D9EE5F;
}
#return-to-top:hover i {
    color: #D9EE5F;
    top: 5px;
}
 
/* end top to button */


/* footer */



.footerbtn{
    border: 1px solid white;
    border-radius: 28px;
    padding: 13px 16px 13px 16px;
    
}

#footer{
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.footer{
    background-color: #000000;
}

/* end footer */


/* glitz */

.glitz-container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px;
    

}

.glitzbox{
    height: fit-content;
    backdrop-filter: blur(15px);
    background-color: rgba(247, 247, 247, 0.1);
    border-radius: 20px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    
}



.glitz-head{
    
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.glitz-head h1{
    font-size: 3.5rem;
    font-weight: 800;
}

.glitz-head h5{
    font-size: 2rem;
    font-weight: 700;
}

.glitz-head p{
    font-size: 1rem;
    font-weight: 200;
    /* line-height: 25px; */
}

.glitz-desc{
display: grid;
grid-template-columns: 1fr 1fr;
}

/* gamemaster */

.game-desc{
    display: grid;
    grid-template-columns: 2fr 1fr;
    }

.game-img{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
}

/* end gamemaster */

.glitz-img{
    display: flex;
    gap: 50px;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
}

.glitz-img img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.glitz-container p{
    font-size: 20px;
    font-weight: 200;
}

/* end glitz */

/* the team */

.team-social{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
}

.team-icons{
    border-bottom: 1px solid white;
}

 .team-icons i{
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    
}

.team-icons a:hover{
    color: #d8ee5f;
}

.team-mail{
    padding: 5%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.team-coordinator{
    display: flex;
    padding: 5%;
    flex-direction: row;
    justify-content: space-between;
}

.student-cor{
    text-align: left;
}

.student-cor i{
    font-size: 24px;
}

.staff-cor{
    text-align: right;
}

.staff-cor i{
    font-size: 24px;
}

.t1content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding-top: 20px;
}

.t1content p{

    font-size: 20px;
    font-weight: 100;
    line-height: 0.5;
}

.t2content{
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding-top: 20px;
    
}

.t2content p{

    font-size: 20px;
    font-weight: 100;
    line-height: 0.8;
}

.t3content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding-top: 20px;
    
}

.t3content p{

    font-size: 20px;
    font-weight: 100;
    line-height: 0.8;
}

.team-media{
    border-top: 1px solid white;
    width: 100%;
    height: 100%;
    padding: 3%;
}

.team-media-1{
    display: flex;
    padding: 5%;
    flex-direction: row;
    justify-content: space-between;
}

.team-media h1{
    text-align: center;
}



/* end the team */

   /* mobile view */

@media only screen and (max-width: 700px) {
   
    .main{

        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: space-around;
        padding: 20px;
    }

    .box1 {
        width: 100%;
        height: auto;
        padding: 30px;
    }
    .box1 h5 {
        padding: 0;
    }

    .box1 img{
        width: 80%;
    }

    .button input{
        width: 80%;
        
    }

    /* .btn1{
        display: none;
    } */

    

    .box2 {
        width: 100%;
        height: auto;
        padding: 30px;
    }

    .box2 h5 {
        padding: 0;
    }

    .box2 img{
        width: 80%;
    }

    .brand h1{
        font-size: 1rem;
        font-weight: 800;
        text-align: center;
    }

    .brand{
        
        gap: 20px;
    }

    .brand img{
        width: 25%;
    }



    .nav{
        padding: 0;
    }
    


/* games */

    .glam{
        height: auto;
        width: 300px;
    }

    .ghead h1{
        font-size: 30px;
        text-align: center;
    }

    .ghead1 h1{
        font-size: 60px;
        text-align: left;
        line-height: 1.2;
    }

    /* glitz  */

    .glitz-head h1{
        font-size: 2.5rem;
        font-weight: 800;
    }

    .glitz-img{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: flex-start;
        margin-left: -20px;
    }

    .glitz-img img{
        display: flex;
        width: 50%
        
    }

    .glitz-desc{
        display: grid;
        grid-template-columns:  1fr;
        }

    .glitzbox{
        height: fit-content;
        backdrop-filter: blur(15px);
        background-color: rgba(247, 247, 247, 0.1);
        border-radius: 20px;
        padding: 40px;
        width: 100vw;
        display: flex;
        margin-top: 50px;
        }

    .glitz-container{
        width: 100%;
        padding: 30px;
        }

    .glitz-container p{
        width: 100%;
        }        
    
        

    /* end glitz */

    /* team */

    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.266); /* Adjust the last value (0.5) to control the overlay opacity */
        z-index: -1; /* Place the overlay behind the background image */
    }
    
    /* Your existing styles */
    body {
        background-image: url('../media/bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .ebox{
        
        padding: 40px;
        display: flex;
        width: 110%;
        justify-content: center;
    }

    .team-icons{
        display: flex;
        font-weight: 100;

    }

    .team-icons i {
        font-weight: 100;
        gap: 40px;
    }

    .t1content p{
        line-height: 1.5rem;
    }

    .team-coordinator{
        flex-direction: column;
        gap: 20px;
        
    }


    .t3content{
        flex-direction: row;
    }

    .t3content p{
        line-height: 1.5rem;
        text-align: left;
    }

    .team-media-1{
        flex-direction: column;
        gap: 20px;
    }

    .staff-cor h1{
        text-align: left;
    }

    .student-cor h1{
        text-align: left;
    }

    /* end team */

    .game-desc{
        display: grid;
        grid-template-columns: 1fr;
        }

    /* competitons */

    

    .chead h1{
        font-size: 30px;
        
    }

    .chead1 h1{
        font-size: 40px;
        text-align: left;
        line-height: 1.2;
    }

    .chead1 {
        padding: 20px;
    }

    /* end */

    /* footer */


    .footerbtn{
        padding: 10px;
        border: none;
        font-size: 25px;
        font-weight: 400;
    }

    /* end footer */

   }